/*--------------------*/
/*Adicionando Variável*/
:root {
  --preto: #141414;
  --laranja: #f3953dde;


}

/*--------------------*/
/*Padronizando Reset CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;

}

/*--------------------*/
/*Corpo do site*/

body {
  font-family: 'Arial', Times, serif;

}

/*--------------------*/
/*Cabeçalho logo */
header .conteiner {
    background-color: #141414;
    display: flex;
    justify-content: space-between;


}

.logo {
color: var(--laranja);
font-family: 'Arial Black', Times;
font-size: 20px;
display: flex;
align-items: center;
margin-left: 0.5%;

}

.barra {
  display: flex;
  align-items: center;
  margin-right: 5%;


}

.quemsomos {
  background-color: #f5bd88de;


}


